body,html {
  padding: 0;
  margin: 0;
}
header {
  color: FFFFFF;
  background: url('../../assets/img/headerBackground.jpg');
  background-position: 0% 40%;
}
header h1 {
  text-align: center;
  font-family: Iceland;
  font-size: 50px;
  padding: 0;
  margin: 0;
}
header h2 {
  text-align: center;
  font-family: Exo;
  padding: 0;
  margin: 0;
  font-size: 20px;
}
header img {
  margin: 0 auto;
  display: block;
  padding: 10px;
}
#headerHR {
  padding: 0;
  margin: 0;
}
