html {
  background: #fffeb3;
}
header > h1 {
  font-family: Ruslan Display;
  font-size: 5em;
  text-align: center;
  color: #6fcb9f;
}
.intro > h1 {
  font-family: Days One;
  font-size: 2.5em;
  color: #fb2e01;
}
.intro > h2 {
  font-family: Passion One;
  color: #425767;
  font-size: 2em;
}
.intro > p {
  font-family: Passion One;
  color: #425767;
  font-size: 1.7em;
}
