body {
  padding: 0;
  margin: 0;
}
html {
  padding: 0;
  margin: 0;
  background: #fffeb3;
}
header > h1 {
  font-family: Ruslan Display;
  font-size: 5em;
  text-align: center;
  color: #6fcb9f;
  margin-bottom: 0;
}
header > nav > ul {
  list-style-type: none;
  margin-top: -20px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
header > nav > ul > li {
  float: left;
}
header > nav > ul > li > a{
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}
header > nav > li > a:hover {
  background-color: #555;
}
.intro {
  padding: 15px;
}
.intro > h1 {
  font-family: Days One;
  font-size: 2em;
  color: #fb2e01;
}
.intro > h2 {
  font-family: Passion One;
  color: #425767;
  font-size: 1.6em;
}
.intro > p {
  font-family: Passion One;
  color: #425767;
  font-size: 1.5em;
}
