/*MENU BAR*/

.Menu_Bar {
  margin: 0;
  padding-left: 15px;
  padding-top: 0.25px;
  padding-right: 15px;
  padding-bottom: 0.25px;
  background: rgba(0, 0, 0, 0.5);
}
.Menu_Bar > ul {
  font-family: Lato;
  margin: 0;
  padding: 3px;
  text-decoration: none;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  position: fixed;
}
.Menu_Bar > ul > li {

}

/*DESKTOP*/

.Desktop {

}

/*DOCK*/

.Dock {

}

/*OTHER*/
html {
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
}
