/*MENU BAR*/

.Menu_Bar {
  margin: 0 auto;
  padding: 3px;
  background: rgba(0, 0, 0, 0.5);
}

/*DESKTOP*/

.Desktop {

}

/*DOCK*/

.Dock {

}

/*OTHER*/
html {
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
}
